/* * {
  margin: 0;
  font-family: sans-serif;
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.progress {
  height: 20px;
  width: 500px;
  background-color: rgb(233, 229, 229);
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
}

.progress span {
  z-index: 2;
  position: absolute;
  /* height: 100%; */
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress div {
  height: 100%;
  width: 100%;
  background-color: #00c251;
  overflow: hidden;
}
